.appointmentFormWrap {
  background-color: #2f3045;
  padding: 45px;
  text-align: center;
  margin-left: 30px;
}

.appointmentFormWrap .content {
  margin-bottom: 35px;
}

.appointmentFormWrap .content h3 {
  font-size: 40px;
  margin-bottom: 0;
  color: #fff;
}

.appointmentFormWrap .appointmentForm .formGroup {
  margin-bottom: 15px;
}

.appointmentFormWrap .appointmentForm .formGroup .formControl {
  height: unset;
  display: inline-block;
  padding: 20px 25px;
  width: 100%;
  border: none;
  border: 1px solid #cccccc;
  background-color: #fff;
  border-radius: 0;
  color: var(--paragraph-color);
  font-size: var(--font-size);
  font-weight: 400;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.appointmentFormWrap .appointmentForm .formGroup .formControl::-webkit-input-placeholder {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--paragraph-color);
}

.appointmentFormWrap .appointmentForm .formGroup .formControl:-ms-input-placeholder {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--paragraph-color);
}

.appointmentFormWrap .appointmentForm .formGroup .formControl::-ms-input-placeholder {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--paragraph-color);
}

.appointmentFormWrap .appointmentForm .formGroup .formControl::placeholder {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--paragraph-color);
}

.appointmentFormWrap .appointmentForm .formGroup .formControl:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border: 1px solid var(--main-color);
}

.appointmentFormWrap .appointmentForm .formGroup .formControl:focus::-webkit-input-placeholder {
  color: transparent;
}

.appointmentFormWrap .appointmentForm .formGroup .formControl:focus:-ms-input-placeholder {
  color: transparent;
}

.appointmentFormWrap .appointmentForm .formGroup .formControl:focus::-ms-input-placeholder {
  color: transparent;
}

.appointmentFormWrap .appointmentForm .formGroup .formControl:focus::placeholder {
  color: transparent;
}

.appointmentFormWrap .appointmentForm .formGroup .formControl:focus-visible {
  outline: 0;
}

.appointmentFormWrap .appointmentForm .formGroup .formSelect select {
  height: unset;
  display: inline-block;
  padding: 20px 25px;
  width: 100%;
  border: none;
  border: 1px solid #cccccc;
  background-color: #fff;
  border-radius: 0;
  color: var(--paragraph-color);
  font-size: var(--font-size);
  font-weight: 400;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.appointmentFormWrap .appointmentForm .formGroup .formSelect select::-webkit-input-placeholder {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--paragraph-color);
}

.appointmentFormWrap .appointmentForm .formGroup .formSelect select:-ms-input-placeholder {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--paragraph-color);
}

.appointmentFormWrap .appointmentForm .formGroup .formSelect select::-ms-input-placeholder {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--paragraph-color);
}

.appointmentFormWrap .appointmentForm .formGroup .formSelect select::placeholder {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--paragraph-color);
}

.appointmentFormWrap .appointmentForm .formGroup .formSelect select:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border: 1px solid var(--main-color);
}

.appointmentFormWrap .appointmentForm .formGroup .formSelect select:focus::-webkit-input-placeholder {
  color: transparent;
}

.appointmentFormWrap .appointmentForm .formGroup .formSelect select:focus:-ms-input-placeholder {
  color: transparent;
}

.appointmentFormWrap .appointmentForm .formGroup .formSelect select:focus::-ms-input-placeholder {
  color: transparent;
}

.appointmentFormWrap .appointmentForm .formGroup .formSelect select:focus::placeholder {
  color: transparent;
}

.appointmentFormWrap .appointmentForm .formGroup .formSelect select:focus-visible {
  outline: 0;
}

.appointmentFormWrap .appointmentForm .default-btn {
  border: none;
  width: 100%;
  padding: 20px 25px;
}

.appointmentFormWrap .appointmentForm .default-btn::before {
  width: 850px;
  height: 850px;
}

@media only screen and (max-width: 767px) {
  .appointmentFormWrap {
    margin-left: 0;
    margin-top: 30px;
    padding: 20px;
  }
  .appointmentFormWrap .content {
    margin-bottom: 20px;
  }
  .appointmentFormWrap .content h3 {
    font-size: 25px;
  }
  .appointmentFormWrap .appointmentForm .formGroup .formControl {
    padding: 15px 20px;
    font-size: 15px;
  }
  .appointmentFormWrap .appointmentForm .formGroup .formSelect select {
    padding: 15px 20px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .appointmentFormWrap {
    margin-left: 0;
    margin-top: 30px;
    padding: 30px;
  }
  .appointmentFormWrap .content {
    margin-bottom: 20px;
  }
  .appointmentFormWrap .content h3 {
    font-size: 30px;
  }
  .appointmentFormWrap .appointmentForm .formGroup .formControl {
    padding: 15px 20px;
    font-size: 15px;
  }
  .appointmentFormWrap .appointmentForm .formGroup .formSelect select {
    padding: 15px 20px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .appointmentFormWrap {
    margin-left: 0;
    margin-top: 30px;
    padding: 30px;
  }
  .appointmentFormWrap .content {
    margin-bottom: 20px;
  }
  .appointmentFormWrap .content h3 {
    font-size: 30px;
  }
  .appointmentFormWrap .appointmentForm .formGroup .formControl {
    padding: 15px 20px;
    font-size: 15px;
  }
  .appointmentFormWrap .appointmentForm .formGroup .formSelect select {
    padding: 15px 20px;
    font-size: 15px;
  }
}
/*# sourceMappingURL=AppointmentForm.module.css.map */