.mainSlidesArea {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f3f8ff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.mainSlidesArea::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background-image: url(/images/main-slides/slides-bg.jpg);
  width: 1035px;
  height: 100%;
  z-index: -1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mainSlidesContent {
  background-color: var(--white-color);
  padding: 50px;
  margin-left: -125px;
  position: relative;
}

.mainSlidesContent span {
  font-size: 18px;
  color: var(--black-color);
  font-weight: 400;
  display: inline-block;
  margin-bottom: 15px;
}

.mainSlidesContent h1 {
  font-size: 80px;
  margin-bottom: 15px;
}

.mainSlidesContent h1 b {
  color: var(--main-color);
}

.mainSlidesContent p {
  margin-bottom: 0;
}

.mainSlidesContent .slidesBtn {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 0;
}

.mainSlidesContent .slidesBtn li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
}

.mainSlidesContent .slidesBtn li:last-child {
  margin-right: 0;
}

.mainSlidesContent .slidesBtn li .optionalBtn {
  padding: 15px 45px;
  text-align: center;
  color: var(--black-color);
  font-size: var(--font-size);
  font-weight: 400;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-radius: 0;
  z-index: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid var(--main-color);
}

.mainSlidesContent .slidesBtn li .optionalBtn:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 550px;
  height: 550px;
  margin: auto;
  background: var(--main-color);
  border-radius: 50%;
  z-index: -1;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: translateX(-50%) translateY(-5%) scale(0.4);
          transform: translateX(-50%) translateY(-5%) scale(0.4);
  -webkit-transition: -webkit-transform .9s;
  transition: -webkit-transform .9s;
  transition: transform .9s;
  transition: transform .9s, -webkit-transform .9s;
}

.mainSlidesContent .slidesBtn li .optionalBtn:hover {
  color: var(--white-color);
}

.mainSlidesContent .slidesBtn li .optionalBtn:hover:before {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translateX(-45%) translateY(0) scale(1);
          transform: translateX(-45%) translateY(0) scale(1);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.mainSlidesSocial {
  padding: 0;
  margin-bottom: 0;
  position: absolute;
  left: 0;
  top: 45%;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
}

.mainSlidesSocial li {
  list-style-type: none;
}

.mainSlidesSocial li:last-child a {
  border-bottom: none;
}

.mainSlidesSocial li a {
  background-color: var(--black-color);
  padding: 12px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border-bottom: 1px solid #4f4f60;
  line-height: 0;
}

.mainSlidesSocial li a i {
  color: var(--white-color);
  font-size: 15px;
}

.mainSlidesSocial li a:hover {
  background-color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.mainSlidesEmail {
  position: absolute;
  right: -30px;
  top: 45%;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.mainSlidesEmail a {
  color: var(--white-color);
  font-size: var(--font-size);
  font-weight: 400;
  letter-spacing: 1px;
}

@media only screen and (max-width: 767px) {
  .mainSlidesArea {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .mainSlidesArea::before {
    display: none;
  }
  .mainSlidesContent {
    padding: 30px 18px;
    margin-left: 0;
  }
  .mainSlidesContent span {
    font-size: 14px;
  }
  .mainSlidesContent h1 {
    font-size: 30px;
  }
  .mainSlidesContent .slidesBtn {
    margin-top: 20px;
  }
  .mainSlidesContent .slidesBtn li {
    margin-right: 5px;
  }
  .mainSlidesContent .slidesBtn li .default-btn {
    padding: 10px 20px;
    font-size: 14px;
  }
  .mainSlidesContent .slidesBtn li .optionalBtn {
    padding: 10px 20px;
    font-size: 14px;
  }
  .mainSlidesSocial {
    display: none;
  }
  .mainSlidesEmail {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hero-slides-area .container-fluid {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mainSlidesArea {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .mainSlidesArea::before {
    display: none;
  }
  .mainSlidesContent {
    margin-left: 0;
  }
  .mainSlidesContent span {
    font-size: 15px;
  }
  .mainSlidesContent h1 {
    font-size: 45px;
  }
  .mainSlidesSocial {
    display: none;
  }
  .mainSlidesEmail {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mainSlidesArea::before {
    width: 730px;
  }
  .mainSlidesContent {
    padding: 35px;
  }
  .mainSlidesContent h1 {
    font-size: 45px;
  }
  .mainSlidesSocial li a {
    padding: 15px 8px;
  }
  .mainSlidesSocial li a i {
    font-size: 15px;
  }
  .mainSlidesEmail {
    right: -55px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .mainSlidesArea::before {
    width: 730px;
  }
  .mainSlidesContent {
    padding: 35px;
  }
  .mainSlidesContent h1 {
    font-size: 45px;
  }
  .mainSlidesSocial li a {
    padding: 15px 8px;
  }
  .mainSlidesSocial li a i {
    font-size: 15px;
  }
  .mainSlidesEmail {
    right: -55px;
  }
}
/*# sourceMappingURL=HeroSlider.module.css.map */