.widgetArea {
    padding-left: 20px;

    .widget {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
        .widgetTitle {
            margin-bottom: 25px;
            position: relative;
            font-size: 24px;
        }
    }
    .widgetServices {
        background-color: #f9fafb;
        padding: 30px;
        border-radius: 5px;

        .servicesList {
            padding: 0;
            margin-bottom: 0;

            li {
                list-style-type: none;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    display: inline-block;
                    width: 100%;
                    color: var(--black-color);
                    font-weight: 500;
                    font-size: 15px;
                    position: relative;

                    i {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 18px;
                        transition: var(--transition);
                    }
                    &:hover {
                        color: var(--main-color);
                    }
                }
            }
        }
    }
    .widgetContact {
        background-color: #f9fafb;
        padding: 30px;
        border-radius: 5px;

        .contactList {
            padding: 0;
            margin-bottom: 0;

            li {
                list-style-type: none;
                margin-bottom: 15px;
                color: var(--paragraph-color);
                line-height: 30px;
                position: relative;
                padding-left: 80px;
    
                &:last-child {
                    margin-bottom: 0;
                }
                span {
                    color: var(--main-color);
                    font-size: var(--font-size);
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                a {
                    color: var(--paragraph-color);
    
                    &:hover {
                        color: var(--main-color);
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}

// Responsive CSS
@media only screen and (max-width: 767px) {
    .widgetArea {
        padding-left: 0;
        margin-top: 30px;
    
        .widget {
            .widgetTitle {
                font-size: 22px;
                margin-bottom: 20px;
            }
        }
        .widgetServices {
            padding: 20px;
        }
        .widgetContact {
            padding: 20px;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .widgetArea {
        padding-left: 0;
        margin-top: 30px;
    
        .widget {
            .widgetTitle {
                font-size: 22px;
                margin-bottom: 20px;
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .widgetArea {
        padding-left: 0;
 
        .widget {
            .widgetTitle {
                font-size: 22px;
                margin-bottom: 20px;
            }
        }
        .widgetServices {
            padding: 20px;
        }
        .widgetContact {
            padding: 20px;
        }
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}