.appointmentAreaWithBgImage {
    background-image: url(/images/appointment/bg-1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-attachment: fixed;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--white-color);
        z-index: -1;
        height: 70px;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--white-color);
        z-index: -1;
        height: 70px;
    }
}

.appointmentFormWrap {
    background-color: #f4f2ef;
    padding: 45px;
    text-align: center;
    margin-left: 30px;

    .content {
        margin-bottom: 35px;

        h3 {
            font-size: 40px;
            margin-bottom: 0;
        }
    }
    .appointmentForm {
        .formGroup {
            margin-bottom: 15px;

            .formControl {
                height: unset;
                display: inline-block;
                padding: 20px 25px;
                width: 100%;
                border: none;
                border: 1px solid #cccccc;
                background-color: #fff;
                border-radius: 0;
                color: var(--paragraph-color);
                font-size: var(--font-size);
                font-weight: 400;
                transition: var(--transition);
    
                &::placeholder {
                    transition: var(--transition);
                    color: var(--paragraph-color);
                }
                &:focus {
                    box-shadow: unset;
                    border: 1px solid var(--main-color);
    
                    &::placeholder {
                        color: transparent;
                    }
                }
                &:focus-visible {
                    outline: 0;
                }
            }
            .formSelect {
                select {
                    height: unset;
                    display: inline-block;
                    padding: 20px 25px;
                    width: 100%;
                    border: none;
                    border: 1px solid #cccccc;
                    background-color: #fff;
                    border-radius: 0;
                    color: var(--paragraph-color);
                    font-size: var(--font-size);
                    font-weight: 400;
                    transition: var(--transition);
        
                    &::placeholder {
                        transition: var(--transition);
                        color: var(--paragraph-color);
                    }
                    &:focus {
                        box-shadow: unset;
                        border: 1px solid var(--main-color);
        
                        &::placeholder {
                            color: transparent;
                        }
                    }
                    &:focus-visible {
                        outline: 0;
                    }
                }
            }
        }
        .default-btn {
            border: none;
            width: 100%;
            padding: 20px 25px;

            &::before {
                width: 850px;
                height: 850px;
            }
        }
    }
}

// Responsive CSS
@media only screen and (max-width: 767px) {
    .appointmentAreaWithBgImage {
        padding-top: 50px;
        padding-bottom: 50px;

        &::before {
            display: none;
        }
        &::after {
            display: none;
        }
    }
    .appointmentFormWrap {
        margin-left: 0;
        margin-top: 30px;
        padding: 20px;

        .content {
            margin-bottom: 20px;
            h3 {
                font-size: 25px;
            }
        }
        .appointmentForm {
            .formGroup {
                .formControl {
                    padding: 15px 20px;
                    font-size: 15px;
                }
                .formSelect {
                    select {
                        padding: 15px 20px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .appointmentAreaWithBgImage {
        padding-top: 50px;
        padding-bottom: 50px;

        &::before {
            display: none;
        }
        &::after {
            display: none;
        }
    }
    .appointmentFormWrap {
        margin-left: 0;
        margin-top: 30px;
        padding: 30px;

        .content {
            margin-bottom: 20px;
            h3 {
                font-size: 30px;
            }
        }
        .appointmentForm {
            .formGroup {
                .formControl {
                    padding: 15px 20px;
                    font-size: 15px;
                }
                .formSelect {
                    select {
                        padding: 15px 20px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .appointmentAreaWithBgImage {
        padding-top: 50px;
        padding-bottom: 50px;

        &::before {
            display: none;
        }
        &::after {
            display: none;
        }
    }
    .appointmentFormWrap {
        margin-left: 0;
        margin-top: 30px;
        padding: 30px;

        .content {
            margin-bottom: 20px;
            h3 {
                font-size: 30px;
            }
        }
        .appointmentForm {
            .formGroup {
                .formControl {
                    padding: 15px 20px;
                    font-size: 15px;
                }
                .formSelect {
                    select {
                        padding: 15px 20px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}