.chooseUsArea {
    position: relative;
    z-index: 1;
    overflow: hidden;

    .containerFluid {
        padding-left: 30px;
        padding-right: 30px;
    }
}
.chooseUsImage {
    div, img {
        width: 100%;
    }
}
.chooseUsContent {
    margin-left: 30px;
    max-width: 605px;
    span {
        font-size: var(--font-size);
        color: var(--main-color);
        display: inline-block;
        margin-bottom: 18px;
    }
    h3 {
        font-size: 40px;
        margin-bottom: 18px;
        line-height: 1.4;
    }
    p {
        margin-bottom: 0;
    }
    .chooseInnerContent {
        position: relative;
        margin-top: 30px;
        padding-left: 70px;

        .icon {
            position: absolute;
            left: 0;
            top: 0;

            i {
                font-size: 50px;
                background: linear-gradient(to right, #fc3b50, #fe514b, #ff6348, #ff7446, #ff8346);
                line-height: 0;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: icon;
                -webkit-text-fill-color:transparent;
                display: inline-flex;
            }
        }
        h4 {
            font-size: 20px;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 0;
        }
        .list {
            padding: 0;
            margin-bottom: 0;
            margin-top: 18px;

            li {
                list-style-type: none;
                color: var(--paragraph-color);
                margin-bottom: 15px;
                position: relative;
                padding-left: 18px;

                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 5px;
                    display: inline-block;
                    height: 10px;
                    width: 10px;
                    background-color: var(--main-color);
                    border-radius: 50px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

// Responsive CSS
@media only screen and (max-width: 767px) {
    .chooseUsArea {
        .containerFluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
        }
    }
    .chooseUsContent {
        margin-left: 0;
        margin-top: 20px;

        span {
            font-size: 14px;
        }
        h3 {
            font-size: 25px;
        }
        .chooseInnerContent {
            h4 {
                font-size: 18px;
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .chooseUsContent {
        margin-left: 0;
        margin-top: 30px;
        
        h3 {
            font-size: 35px;
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .chooseUsContent {
        margin-left: 0;
        margin-top: 30px;
        
        h3 {
            font-size: 35px;
        }
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}