.caseStudiesArea {
    background-color: #f6f7fb;
}
.singleCaseStudiesBox {
    background-color: #f9fafb;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: var(--transition);
    margin-bottom: 25px;
    border: 1px solid #eeeeee;
 
    .caseContent {
        padding: 0 20px 0 10px;

        span {
            font-size: var(--font-size);
            color: var(--main-color);
            font-weight: 400;
            display: inline-block;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 20px;
            margin-bottom: 15px;

            a {
                color: var(--black-color);
            }
        }
        p {
            transition: var(--transition);
        }
        .caseBtn {
            font-size: var(--font-size);
            color: var(--black-color);
            font-weight: 400;
            transition: var(--transition);
        }
    }
    &:hover {
        background-color: var(--black-color);

        .caseContent {
            h3 {
                a {
                    color: var(--white-color);
                }
            }
            p {
                color: var(--white-color);
            }
            .caseBtn {
                color: var(--white-color);
                letter-spacing: 1px;
            }
        }
    }
}

// Responsive CSS
@media only screen and (max-width: 767px) {
    .singleCaseStudiesBox {
        padding: 0;
        .caseContent {
            padding: 15px 20px 20px;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .singleCaseStudiesBox {
        padding: 0;
        .caseContent {
            padding: 25px 30px 30px;
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .singleCaseStudiesBox {
        .caseContent {
            padding: 0 15px 0 0;
        }
    }
}