.heroSlidesArea {
    position: relative;
    z-index: 1;
    overflow: hidden;

    .containerFluid {
        padding-left: 100px;
        padding-right: 100px;
    }
}

.heroSlidesItem {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 250px;
    padding-bottom: 250px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    z-index: 1;

    &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        background-color: #000000;
        z-index: -1;
        opacity: .50;
    }
}

.heroSlidesContent {
    text-align: center;
    max-width: 1130px;
    width: 100%;
    margin: auto;

    span {
        font-size: 18px;
        color: var(--white-color);
        font-weight: 400;
        display: inline-block;
        margin-bottom: 20px;
    }
    h1 {
        font-size: 65px;
        margin-bottom: 0;
        color: var(--white-color);
        line-height: 1.3;
    }
    .slidesBtn {
        padding: 0;
        margin-top: 35px;
        margin-bottom: 0;

        li {
            list-style-type: none;
            display: inline-block;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
            .optionalBtn {
                padding: 15px 45px;
                text-align: center;
                color: var(--black-color);
                font-size: var(--font-size);
                font-weight: 400;
                transition: var(--transition);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                position: relative;
                border-radius: 0;
                z-index: 0;
                background: var(--white-color);
                box-shadow: none;
                overflow: hidden;
                white-space: nowrap;
            
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 50%;
                    width: 550px;
                    height: 550px;
                    margin: auto;
                    background: var(--main-color);
                    border-radius: 50%;
                    z-index: -1;
                    transform-origin: top center;
                    transform: translateX(-50%) translateY(-5%) scale(.4);
                    transition: transform .9s;
                }
                &:hover {
                    color: var(--white-color);
            
                    &:before {
                        transition: transform 1s;
                        transform: translateX(-45%) translateY(0) scale(1);
                        transform-origin: bottom center;
                    }
                }
            }
        }
    }
}

.heroSlidesSocial {
    padding: 0;
    margin-bottom: 0;
    position: absolute;
    left: 20px;
    top: 45%;
    transform: translateY(-45%);

    li {
        list-style-type: none;
        
        &:last-child {
            a {
                border-bottom: none;

                &:hover {
                    border: none;
                }
            }
        }
        a {
            padding: 20px;
            line-height: 0;
            border-bottom: 1px solid #e4e4e7;

            i {
                color: var(--paragraph-color);
                font-size: 20px;
                transition: var(--transition);
            }
            &:hover {
                background-color: var(--main-color);
                border-bottom: 1px solid var(--main-color);

                i {
                    color: var(--white-color);
                }
            }
        }
    }
}

.heroSlidesEmail {
    position: absolute;
    right: -25px;
    top: 65px;
    transform: rotate(-90deg);

    a {
        color: var(--black-color);
        font-size: var(--font-size);
        font-weight: 400;
        letter-spacing: 1px;
    }
} 

.heroSlidesTime {
    position: absolute;
    right: -68px;
    bottom: 110px;
    transform: rotate(-90deg);

    span {
        color: var(--black-color);
        font-size: var(--font-size);
        font-weight: 400;
        letter-spacing: 1px;

        i {
            color: var(--main-color);
            position: relative;
            top: 2px;
            margin-right: 2px;
        }
    }
}

// Responsive CSS
@media only screen and (max-width: 767px) {
    .heroSlidesArea {
        .containerFluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
        }
    }

    .heroSlidesItem {
        padding-top: 50px;
        padding-bottom: 100px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .heroSlidesContent {
        span {
            font-size: 14px;
        }
        h1 {
            font-size: 30px;
        }
        .slidesBtn {
            margin-top: 20px;

            li {
                margin-right: 5px;

                .optionalBtn {
                    padding: 11px 20px;
                    font-size: 14px;
                }
            }
        }
    }
    
    .heroSlidesSocial {
        display: none;
    }
    .heroSlidesEmail {
        display: none;
    }
    .heroSlidesTime {
        display: none;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .heroSlidesArea {
        .containerFluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 720px;
            margin: auto;
        }
    }
    .heroSlidesItem {
        padding-top: 150px;
        padding-bottom: 200px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .heroSlidesContent {
        h1 {
            font-size: 50px;
        }
    }
    .heroSlidesSocial {
        display: none;
    }
    .heroSlidesEmail {
        display: none;
    }
    .heroSlidesTime {
        display: none;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .heroSlidesArea {
        .containerFluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 960px;
            margin: auto;
        }
    }
    .heroSlidesItem {
        padding-top: 150px;
        padding-bottom: 200px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .heroSlidesContent {
        h1 {
            font-size: 50px;
        }
    }
    .heroSlidesSocial {
        left: 10px;
        z-index: 99;

        li {
            a {
                padding: 15px 0;
            }
        }
    }
    .heroSlidesEmail {
        right: -60px;
    }
    .heroSlidesTime {
        right: -105px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .heroSlidesArea {
        .containerFluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 1140px;
            margin: auto;
        }
    }
    .heroSlidesItem {
        padding-top: 150px;
        padding-bottom: 200px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .heroSlidesContent {
        h1 {
            font-size: 50px;
        }
    }
    .heroSlidesSocial {
        left: 12px;

        li {
            a {
                padding: 15px 0;
            }
        }
    }
    .heroSlidesEmail {
        right: -55px;
    }
    .heroSlidesTime {
        right: -100px;
    }
}