.relatedCaseStudies {
    margin-top: 30px;
    h2 {
        font-size: 35px;
        margin-bottom: 20px;
    }
}
.singleCaseStudiesCard {
    transition: var(--transition);
    position: relative;

    .caseImage {
        position: relative;

        a {
            display: block;
            div {
                display: block !important;
            }
            img {
                display: block !important;
            }
        }
        .content {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 30px;
            width: 100%;
            height: 100%;
            transition: var(--transition);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #002434);
            span {
                font-size: 14px;
                color: var(--white-color);
                font-weight: 400;
                display: inline-block;
                margin-bottom: 10px;
            }
            h3 {
                font-size: 20px;
                margin-bottom: 0;

                a {
                    color: var(--white-color);

                    &:hover {
                        color: var(--main-color);
                    }
                }
            }
        }
    }
}
.dTable {
    display: table;
    width: 100%;
    height: 100%;
}
.dTableCell {
    display: table-cell;
    vertical-align: bottom;
}

// Responsive CSS
@media only screen and (max-width: 767px) {
    .relatedCaseStudies {
        h2 {
            font-size: 25px;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .relatedCaseStudies {
        h2 {
            font-size: 30px;
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .relatedCaseStudies {
        h2 {
            font-size: 30px;
        }
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}
 