.servicesDetailsContent {
    span {
        font-size: var(--font-size);
        color: var(--main-color);
        display: inline-block;
        margin-bottom: 18px;
    }
    h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 35px;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    h4 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    h5 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    h6 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    a {
        color: var(--mail-color);
    }
    .img {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    ul {
        padding: 0;
        margin-bottom: 15px;

        li {
            list-style-type: none;
            color: var(--paragraph-color);
            margin-bottom: 10px;
            position: relative;
            padding-left: 20px;
            line-height: 1.8;

            &::before {
                position: absolute;
                content: "";
                left: 0;
                top: 8px;
                display: inline-block;
                height: 10px;
                width: 10px;
                background-color: var(--main-color);
                border-radius: 50px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    ol {
        margin-bottom: 15px;
        li {
            color: var(--paragraph-color);
            margin-bottom: 10px;
            line-height: 1.8;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// Responsive CSS
@media only screen and (max-width: 767px) {
    .servicesDetailsContent {
        span {
            margin-bottom: 15px;
        }
        h1 {
            font-size: 30px; 
        }
        h2 {
            font-size: 25px; 
        }
        h3 {
            font-size: 25px; 
        }
        h4 {
            font-size: 25px; 
        }
        .img {
            margin-top: 20px;
            margin-bottom: 15px;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .servicesDetailsContent {
        span {
            margin-bottom: 15px;
        }
        h1 {
            font-size: 30px; 
        }
        h2 {
            font-size: 25px; 
        }
        h3 {
            font-size: 25px; 
        }
        h4 {
            font-size: 25px; 
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .servicesDetailsContent {
        span {
            margin-bottom: 15px;
        }
        h1 {
            font-size: 30px; 
        }
        h2 {
            font-size: 25px; 
        }
        h3 {
            font-size: 25px; 
        }
        h4 {
            font-size: 25px; 
        }
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}