.careerDetailsDesc {
    span {
        font-size: var(--font-size);
        color: var(--main-color);
        display: inline-block;
        margin-bottom: 15px;
    }
    h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 35px;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 30px; 
        margin-bottom: 10px;
    }
    h4 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    h5 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    h6 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    ul {
        padding: 0;
        margin-bottom: 20px;

        li {
            list-style-type: none;
            color: var(--paragraph-color);
            margin-bottom: 10px;
            position: relative;
            padding-left: 20px;

            &::before {
                position: absolute;
                content: "";
                left: 0;
                top: 6px;
                display: inline-block;
                height: 10px;
                width: 10px;
                background-color: var(--main-color);
                border-radius: 50px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    ol {
        margin-bottom: 20px;
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// Responsive CSS
@media only screen and (max-width: 767px) {
    .careerDetailsDesc {
        h1 {
            font-size: 25px;
        }
        h2 {
            font-size: 25px;
        }
        h3 {
            font-size: 22px; 
        }
        h4 {
            font-size: 20px;
        }
        h5 {
            font-size: 20px;
        }
        h6 {
            font-size: 15px;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .careerDetailsDesc {
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 27px;
        }
        h3 {
            font-size: 26px; 
        }
        h4 {
            font-size: 25px;
        }
        h5 {
            font-size: 20px;
        }
        h6 {
            font-size: 15px;
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}