.chooseUsArea {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-top: 1px solid #f4f2ef;
    border-bottom: 1px solid #f4f2ef;
    &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 530px;
        left: 0;
        top: 0;
        background-color: #f4f2ef;
        z-index: -1;
    }
}
.chooseUsImage {
    position: relative;

    .videoView {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }
    .videoBtn {
        display: inline-block;
        width: 100px;
        height: 100px;
        line-height: 115px;
        background-color: var(--white-color);
        border-radius: 50%;
        color: var(--main-color);
        text-align: center;
        font-size: 50px;
        transition: var(--transition);
        position: relative;
        z-index: 1;
        cursor: pointer;

        i {
            transition: var(--transition);
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            bottom: 0;
            left: 0;
            border-radius: 50%;
            border: 1px solid var(--main-color);
            animation: ripple .99s linear infinite;
            -webkit-animation: ripple .99s linear infinite;
        }
        &:hover {
            background-color: var(--main-color);
            
            i {
                color: var(--white-color);
            }
        }
    }
}

@keyframes ripple {
    0% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.75);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.chooseUsContent {
    margin-left: 30px;
    span {
        font-size: var(--font-size);
        color: var(--main-color);
        display: inline-block;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 40px;
        margin-bottom: 18px;
        line-height: 1.3;
    }
    p {
        margin-bottom: 0;
    }
    .chooseInnerContent {
        position: relative;
        margin-top: 30px;
        padding-left: 70px;

        .icon {
            position: absolute;
            left: 0;
            top: 0;

            i {
                font-size: 50px;
                background: linear-gradient(to right, #fc3b50, #fe514b, #ff6348, #ff7446, #ff8346);
                line-height: 0;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: icon;
                -webkit-text-fill-color:transparent;
                display: inline-flex;
            }
        }
        h4 {
            font-size: 20px;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 0;
        }
        .list {
            padding: 0;
            margin-bottom: 0;
            margin-top: 18px;

            li {
                list-style-type: none;
                color: var(--paragraph-color);
                margin-bottom: 15px;
                position: relative;
                padding-left: 18px;

                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 5px;
                    display: inline-block;
                    height: 10px;
                    width: 10px;
                    background-color: var(--main-color);
                    border-radius: 50px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}


// Responsive CSS
@media only screen and (max-width: 767px) {
    .chooseUsArea {
        &::before {
            width: 100%;
        }
    }
    .chooseUsContent {
        margin-left: 0;
        margin-top: 30px;

        span {
            font-size: 14px;
        }
        h3 {
            font-size: 25px;
        }
        .chooseInnerContent {
            h4 {
                font-size: 18px;
            }
        }
    }
    .chooseUsImage {
        text-align: center;
  
        .videoBtn {
            width: 70px;
            height: 70px;
            line-height: 80px;
            font-size: 40px;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .chooseUsArea {
        &::before {
            width: 100%;
        }
    }
    .chooseUsContent {
        margin-left: 0;
        margin-top: 30px;
        
        h3 {
            font-size: 35px;
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .chooseUsArea {
        &::before {
            width: 100%;
        }
    }
    .chooseUsContent {
        margin-left: 0;
        h3 {
            font-size: 35px;
        }
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}