.partnerTitle {
    text-align: center;
    margin-bottom: 45px;

    span {
        font-size: var(--font-size);
        color: var(--main-color);
    }
}
.imageBox {
    text-align: center;
    img {
        display: inline-block !important;
        max-width: 100% !important;
        width: auto !important;
        margin: auto !important;
    }
}
